{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet/dist/leaflet.css"
    >

    <link rel="stylesheet"
          href="{% static 'SchoolSearch/css/mapa.css' %}">

</head>

<body>

    <div class="contenedor">

        <div class="contenido">

            <h1>Información escuela</h1>

            <h2>Escuelas más cercanas</h2>

            {% for escuela in escuelas %}

            <div>
                <h3>{{ escuela.nombre }}</h3>
                <p>{{ escuela.distancia }} km</p>
            </div>

            {% endfor %}

            

        </div>

        <div class="mapa-contenedor">
            <div id="map"></div>
        </div>

    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script src="{% static 'SchoolSearch/js/mapa.js' %}"></script>

</body>
</html>
