{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="{% static 'SchoolSearch/css/mapa.css' %}">
</head>
<body>
    <div class="contenedor">
    	<div class="mapa-contenedor">
		
        	<!-- MAPA -->
        	<div id="map"></div>
	</div>

        	<!-- TABLA -->
        	<div class="contenido">
            	<h1>Escuelas más cercanas</h1>
            		{% for escuela in escuelas %}
            	<div>
                	<h3>{{ escuela.nombre }}</h3>
                	<p>{{ escuela.distancia }} km</p>
            	</div>
            	{% endfor %}
        	</div>

    	
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        const escuelas = {{ escuelas|safe }};

        const map = L.map('map').setView(
            [escuelas[0].lat, escuelas[0].lon], 13
        );

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        
        escuelas.forEach(function(escuela) {
            L.marker([escuela.lat, escuela.lon])
                .addTo(map)
                .bindPopup(
                    '<b>' + escuela.nombre + '</b><br>' +
                    escuela.distancia + ' km'
                );
        });
        const latUsuario = {{ lat_usuario }};
        const lonUsuario = {{ lon_usuario }};

        L.circleMarker([latUsuario, lonUsuario], {
            radius: 10,
            color: '#0066ff',
            fillColor: '#0066ff',
            fillOpacity: 0.8
        }).addTo(map)
          .bindPopup('<b>Tu ubicación</b>');
    </script>
</body>
</html>
